In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import requests
from bs4 import BeautifulSoup 
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("flipkart_mobiles_data.csv")

In [4]:
df.shape

(984, 8)

In [5]:
df.head()

,product_name,price,ratings,features,pagenum,originalprice,Discount,Review
0,"realme P4 Power 5G (TransSilver, 128 GB)","₹25,999",4.6,8 GB RAM | 128 GB ROM17.27 cm (6.8 inch) Full ...,1,"₹32,999",21% off,"1,008 Ratings & 90 Reviews"
1,"MOTOROLA g06 power (Pantone tapestry, 64 GB)","₹7,999",4.3,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,1,"₹9,999",20% off,"6,394 Ratings & 382 Reviews"
2,"IQOO Z10X 5G (Titanium, 128 GB)","₹14,998",4.4,6 GB RAM | 128 GB ROM17.02 cm (6.7 inch) Displ...,1,"₹17,499",14% off,"9,230 Ratings & 463 Reviews"
3,"IQOO Z10 Lite 5G (Titanium Blue, 128 GB)","₹11,998",4.2,4 GB RAM | 128 GB ROM17.12 cm (6.74 inch) Disp...,1,"₹13,999",14% off,"2,387 Ratings & 94 Reviews"
4,"Ai+ Pulse (Black, 64 GB)","₹6,999",4.3,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,1,"₹7,999",12% off,"44,538 Ratings & 2,650 Reviews"

In [6]:
df.tail()

,product_name,price,ratings,features,pagenum,originalprice,Discount,Review
979,"vivo Y400 5G (Glam White, 128 GB)","₹22,999",4.4,8 GB RAM | 128 GB ROM17.12 cm (6.74 inch) Disp...,41,"₹25,999",11% off,663 Ratings & 24 Reviews
980,"Samsung Galaxy A06 5G (Light Gray, 128 GB)","₹11,674",4.1,4 GB RAM | 128 GB ROM | Expandable Upto 1 TB17...,41,"₹15,499",24% off,"2,876 Ratings & 169 Reviews"
981,"OPPO Reno15 5G (Aurora Blue, 256 GB)","₹43,599",4.6,8 GB RAM | 256 GB ROM16.74 cm (6.59 inch) Full...,41,"₹45,999",5% off,348 Ratings & 70 Reviews
982,"POCO X7 5G (Cosmic Silver, 128 GB)","₹17,999",4.3,8 GB RAM | 128 GB ROM16.94 cm (6.67 inch) Disp...,41,"₹24,999",28% off,"29,521 Ratings & 2,217 Reviews"
983,"realme GT 7T (Racing Yellow, 256 GB)","₹34,999",4.3,8 GB RAM | 256 GB ROM17.27 cm (6.8 inch) Full ...,41,"₹39,999",12% off,714 Ratings & 62 Reviews

In [7]:
df

,product_name,price,ratings,features,pagenum,originalprice,Discount,Review
0,"realme P4 Power 5G (TransSilver, 128 GB)","₹25,999",4.6,8 GB RAM | 128 GB ROM17.27 cm (6.8 inch) Full ...,1,"₹32,999",21% off,"1,008 Ratings & 90 Reviews"
1,"MOTOROLA g06 power (Pantone tapestry, 64 GB)","₹7,999",4.3,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,1,"₹9,999",20% off,"6,394 Ratings & 382 Reviews"
2,"IQOO Z10X 5G (Titanium, 128 GB)","₹14,998",4.4,6 GB RAM | 128 GB ROM17.02 cm (6.7 inch) Displ...,1,"₹17,499",14% off,"9,230 Ratings & 463 Reviews"
3,"IQOO Z10 Lite 5G (Titanium Blue, 128 GB)","₹11,998",4.2,4 GB RAM | 128 GB ROM17.12 cm (6.74 inch) Disp...,1,"₹13,999",14% off,"2,387 Ratings & 94 Reviews"
4,"Ai+ Pulse (Black, 64 GB)","₹6,999",4.3,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,1,"₹7,999",12% off,"44,538 Ratings & 2,650 Reviews"
...,...,...,...,...,...,...,...,...
979,"vivo Y400 5G (Glam White, 128 GB)","₹22,999",4.4,8 GB RAM | 128 GB ROM17.12 cm (6.74 inch) Disp...,41,"₹25,999",11% off,663 Ratings & 24 Reviews
980,"Samsung Galaxy A06 5G (Light Gray, 128 GB)","₹11,674",4.1,4 GB RAM | 128 GB ROM | Expandable Upto 1 TB17...,41,"₹15,499",24% off,"2,876 Ratings & 169 Reviews"
981,"OPPO Reno15 5G (Aurora Blue, 256 GB)","₹43,599",4.6,8 GB RAM | 256 GB ROM16.74 cm (6.59 inch) Full...,41,"₹45,999",5% off,348 Ratings & 70 Reviews
982,"POCO X7 5G (Cosmic Silver, 128 GB)","₹17,999",4.3,8 GB RAM | 128 GB ROM16.94 cm (6.67 inch) Disp...,41,"₹24,999",28% off,"29,521 Ratings & 2,217 Reviews"
983,"realme GT 7T (Racing Yellow, 256 GB)","₹34,999",4.3,8 GB RAM | 256 GB ROM17.27 cm (6.8 inch) Full ...,41,"₹39,999",12% off,714 Ratings & 62 Reviews

In [1234]:
df.describe()

          ratings     pagenum
count  980.000000  984.000000
mean     4.240408   21.000000
std      0.316647   11.838176
min      3.000000    1.000000
25%      4.100000   11.000000
50%      4.300000   21.000000
75%      4.400000   31.000000
max      4.800000   41.000000

In [1235]:
df.describe( include = "all")

,product_name,price,ratings,features,pagenum,originalprice,Discount,Review
count,984,984,980.000000,984,984.000000,927,922,980
unique,591,334,NaN,444,NaN,124,57,344
top,"realme P4 Power 5G (TransSilver, 128 GB)","₹25,999",NaN,8 GB RAM | 128 GB ROM17.27 cm (6.8 inch) Full ...,NaN,"₹32,999",21% off,"1,008 Ratings & 90 Reviews"
freq,40,49,NaN,40,NaN,50,65,42
mean,NaN,NaN,4.240408,NaN,21.000000,NaN,NaN,NaN
std,NaN,NaN,0.316647,NaN,11.838176,NaN,NaN,NaN
min,NaN,NaN,3.000000,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,4.100000,NaN,11.000000,NaN,NaN,NaN
50%,NaN,NaN,4.300000,NaN,21.000000,NaN,NaN,NaN
75%,NaN,NaN,4.400000,NaN,31.000000,NaN,NaN,NaN
max,NaN,NaN,4.800000,NaN,41.000000,NaN,NaN,NaN

In [1236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   984 non-null    object
 1   price          984 non-null    object
 2   ratings        980 non-null    float64
 3   features       984 non-null    object
 4   pagenum        984 non-null    int64
 5   originalprice  927 non-null    object
 6   Discount       922 non-null    object
 7   Review         980 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 61.6+ KB

In [1237]:
df.isnull().sum()

product_name      0
price             0
ratings           4
features          0
pagenum           0
originalprice    57
Discount         62
Review            4
dtype: int64

In [1238]:
df["price"].fillna(df["price"].mode()[0],inplace = True)

In [1239]:
df["ratings"].fillna(df["ratings"].mode()[0],inplace = True)

In [1240]:
df["originalprice"].fillna(df["originalprice"].mode()[0],inplace = True)

In [1241]:
df["Discount"].fillna(df["Discount"].mode()[0],inplace = True)

In [1242]:
df["Review"].fillna(df["Review"].mode()[0],inplace = True)

In [1243]:
df.isnull().sum()

product_name     0
price            0
ratings          0
features         0
pagenum          0
originalprice    0
Discount         0
Review           0
dtype: int64

In [1244]:
df.duplicated().sum()

np.int64(5)

In [1245]:
df.drop_duplicates(inplace = True)

In [1246]:
df.duplicated().sum()

np.int64(0)

In [1247]:
df["product_name"]

0          realme P4 Power 5G (TransSilver, 128 GB)
1      MOTOROLA g06 power (Pantone tapestry, 64 GB)
2                   IQOO Z10X 5G (Titanium, 128 GB)
3          IQOO Z10 Lite 5G (Titanium Blue, 128 GB)
4                          Ai+ Pulse (Black, 64 GB)
                           ...
979               vivo Y400 5G (Glam White, 128 GB)
980      Samsung Galaxy A06 5G (Light Gray, 128 GB)
981            OPPO Reno15 5G (Aurora Blue, 256 GB)
982              POCO X7 5G (Cosmic Silver, 128 GB)
983            realme GT 7T (Racing Yellow, 256 GB)
Name: product_name, Length: 979, dtype: object

In [1248]:
df["Brand"] = df["product_name"].apply(lambda x : re.findall(r"^\w+",x)[0])

In [1249]:
df["features"]

0      8 GB RAM | 128 GB ROM17.27 cm (6.8 inch) Full ...
1      4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....
2      6 GB RAM | 128 GB ROM17.02 cm (6.7 inch) Displ...
3      4 GB RAM | 128 GB ROM17.12 cm (6.74 inch) Disp...
4      4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....
                             ...
979    8 GB RAM | 128 GB ROM17.12 cm (6.74 inch) Disp...
980    4 GB RAM | 128 GB ROM | Expandable Upto 1 TB17...
981    8 GB RAM | 256 GB ROM16.74 cm (6.59 inch) Full...
982    8 GB RAM | 128 GB ROM16.94 cm (6.67 inch) Disp...
983    8 GB RAM | 256 GB ROM17.27 cm (6.8 inch) Full ...
Name: features, Length: 979, dtype: object

In [1250]:
import re
import numpy as np

def extract_processor(text):
    text = str(text)

    text = re.sub(r'.*Battery', '', text, flags=re.IGNORECASE)

    pattern = r'((Snapdragon|Dimensity|Helio|Exynos|Tensor|Unisoc|MediaTek|Mediatek|Qualcomm|Apple|Bionic|A\d+|T\d+|SC\d+|MTK|MAD|Single Core|Octa Core|Quad Core|Dual Core|[\d]+\s*Core)[\w\s+.-]*?(Processor|Chip))'

    match = re.search(pattern, text, re.IGNORECASE)

    if match:
        return match.group(1).strip()

    return np.nan


df["Processor"] = df["features"].apply(extract_processor)

In [1251]:
def extract_rear_camera(text):
    text = str(text)
    
    match = re.search(r'(\d+(\.\d+)?MP(?:\s*\+\s*\d+(\.\d+)?MP)*)\s*Rear Camera', text)
    
    if match:
        return match.group(1)
    
    return np.nan

df["Rear_Camera_MP"] = df["features"].apply(extract_rear_camera)

In [1252]:
def extract_front_camera(text):
    text = str(text)
    
    if "|" in text:
        front_part = text.split("|")[1]
        match = re.search(r'(\d+(\.\d+)?MP(?:\s*\+\s*\d+(\.\d+)?MP)*)', front_part)
        if match:
            return match.group(1)
    
    match = re.search(r'(\d+(\.\d+)?MP(?:\s*\+\s*\d+(\.\d+)?MP)*)\s*Front Camera', text)
    if match:
        return match.group(1)
    
    return np.nan

df["Front_Camera_MP"] = df["features"].apply(extract_front_camera)

In [1253]:


def extract_warranty_years(text, keyword_type="phone"):
    text = str(text)
    
    if keyword_type == "phone":
        pattern = r'(\d+)\s*(Year|Years|Month|Months).*?(phone|device|handset)'
    else:
        pattern = r'(\d+)\s*(Year|Years|Month|Months).*?(box|accessories|inbox)'
    
    match = re.search(pattern, text, re.IGNORECASE)
    
    if match:
        value = int(match.group(1))
        unit = match.group(2).lower()
        
        if "month" in unit:
            return value / 12
        else:
            return value
    

    if keyword_type == "phone":
        match2 = re.search(r'(\d+)\s*(Year|Years|Month|Months)', text, re.IGNORECASE)
        if match2:
            value = int(match2.group(1))
            unit = match2.group(2).lower()
            
            if "month" in unit:
                return value / 12
            else:
                return value
    
    return np.nan

In [1254]:
df["Phone_Warranty_Years"] = df["features"].apply(lambda x: extract_warranty_years(x, "phone"))

df["Box_Warranty_Years"] = df["features"].apply(lambda x: extract_warranty_years(x, "box"))

In [1255]:
def warranty_category(value):
    if pd.isna(value) or value == 0:
        return "No Warranty"
    elif value <= 0.5:
        return "Up to 6 Months"
    elif value <= 1:
        return "1 Year"
    else:
        return "More than 1 Year"

df["Phone_Warranty_Category"] = df["Phone_Warranty_Years"].apply(warranty_category)
df["Box_Warranty_Category"] = df["Box_Warranty_Years"].apply(warranty_category)

In [1256]:
def extract_battery(text):
    match = re.search(r"(\d{4,5})\s*mAh", str(text), re.IGNORECASE)
    return int(match.group(1)) if match else np.nan

df["Battery_mAh"] = df["features"].apply(extract_battery)

In [1257]:
def extract_display(text):
    text = str(text)
    
    match = re.search(r'\((\d+(\.\d+)?)\s*inch\)', text, re.IGNORECASE)
    
    if match:
        return float(match.group(1))
    

    match2 = re.search(r'(\d+(\.\d+)?)\s*inch', text, re.IGNORECASE)
    
    if match2:
        return float(match2.group(1))
    
    return np.nan

df["Display_Inches"] = df["features"].apply(extract_display)

In [1258]:
df.head()

,product_name,price,ratings,features,pagenum,originalprice,Discount,Review,Brand,Processor,Rear_Camera_MP,Front_Camera_MP,Phone_Warranty_Years,Box_Warranty_Years,Phone_Warranty_Category,Box_Warranty_Category,Battery_mAh,Display_Inches
0,"realme P4 Power 5G (TransSilver, 128 GB)","₹25,999",4.6,8 GB RAM | 128 GB ROM17.27 cm (6.8 inch) Full ...,1,"₹32,999",21% off,"1,008 Ratings & 90 Reviews",realme,Dimensity 7400 Ultra Processor,NaN,50MP + 8MP,1.0,1.0,1 Year,1 Year,10001.0,6.800
1,"MOTOROLA g06 power (Pantone tapestry, 64 GB)","₹7,999",4.3,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,1,"₹9,999",20% off,"6,394 Ratings & 382 Reviews",MOTOROLA,Helio G81 Processor,50MP,8MP,1.0,1.0,1 Year,1 Year,7000.0,6.880
2,"IQOO Z10X 5G (Titanium, 128 GB)","₹14,998",4.4,6 GB RAM | 128 GB ROM17.02 cm (6.7 inch) Displ...,1,"₹17,499",14% off,"9,230 Ratings & 463 Reviews",IQOO,NaN,50MP,50MP,1.0,1.0,1 Year,1 Year,6500.0,6.700
3,"IQOO Z10 Lite 5G (Titanium Blue, 128 GB)","₹11,998",4.2,4 GB RAM | 128 GB ROM17.12 cm (6.74 inch) Disp...,1,"₹13,999",14% off,"2,387 Ratings & 94 Reviews",IQOO,NaN,50MP,50MP,1.0,NaN,1 Year,No Warranty,6000.0,6.740
4,"Ai+ Pulse (Black, 64 GB)","₹6,999",4.3,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,1,"₹7,999",12% off,"44,538 Ratings & 2,650 Reviews",Ai,T615 Processor,50MP,5MP,1.0,1.0,1 Year,1 Year,5000.0,6.745

In [1259]:
df["Ratings_1"] = df["Review"].apply(lambda x: re.split(r"[&]",x)[0])

In [1260]:
df["No_ratings"] = df["Ratings_1"].apply(lambda x : re.findall(r"[\d,]+",x)[0].replace(",","")).astype("int")

In [1261]:
df["Reviews_1"] = df["Review"].apply(lambda x: re.split(r"[&]",x)[1])

In [1262]:
df["No_of_Reviews"] = df["Reviews_1"].apply(lambda x: re.findall(r"[\d,]+",x)[0].replace(",","")).astype("int")

In [1263]:
df["price"] = df["price"].apply(lambda x : re.sub(r"[₹,]","",x)).astype("int")

In [1264]:
df["originalprice"] = df["originalprice"].apply(lambda x : re.sub(r"[₹,]","",x)).astype("int")

In [1265]:
df["Discount"] = df["Discount"].apply(lambda x : re.findall(r"[\d%]+",x)[0])

In [1266]:
df["GB_list"] = df["features"].apply(lambda x:re.findall(r"(\d+)\s*GB",x))

In [1267]:
df["Ram"] = df["GB_list"].apply(lambda x : x[0] if len(x) > 0 else np.nan)

In [1268]:
df["Ram"].fillna(df["Ram"].mode()[0],inplace = True)

In [1269]:
df["Storage"] = df["GB_list"].apply(lambda x : x[1] if len(x) > 1 else np.nan)

In [1270]:
df.shape

(979, 25)

In [1271]:
df.columns

Index(['product_name', 'price', 'ratings', 'features', 'pagenum',
       'originalprice', 'Discount', 'Review', 'Brand', 'Processor',
       'Rear_Camera_MP', 'Front_Camera_MP', 'Phone_Warranty_Years',
       'Box_Warranty_Years', 'Phone_Warranty_Category',
       'Box_Warranty_Category', 'Battery_mAh', 'Display_Inches', 'Ratings_1',
       'No_ratings', 'Reviews_1', 'No_of_Reviews', 'GB_list', 'Ram',
       'Storage'],
      dtype='object')

In [1272]:
df.drop(['product_name','features','Review','Ratings_1','Reviews_1','GB_list','Phone_Warranty_Years','Box_Warranty_Years','No_ratings','No_of_Reviews'],axis = 1,inplace = True)

In [1273]:
df.head()

,price,ratings,pagenum,originalprice,Discount,Brand,Processor,Rear_Camera_MP,Front_Camera_MP,Phone_Warranty_Category,Box_Warranty_Category,Battery_mAh,Display_Inches,Ram,Storage
0,25999,4.6,1,32999,21%,realme,Dimensity 7400 Ultra Processor,NaN,50MP + 8MP,1 Year,1 Year,10001.0,6.800,8,128
1,7999,4.3,1,9999,20%,MOTOROLA,Helio G81 Processor,50MP,8MP,1 Year,1 Year,7000.0,6.880,4,64
2,14998,4.4,1,17499,14%,IQOO,NaN,50MP,50MP,1 Year,1 Year,6500.0,6.700,6,128
3,11998,4.2,1,13999,14%,IQOO,NaN,50MP,50MP,1 Year,No Warranty,6000.0,6.740,4,128
4,6999,4.3,1,7999,12%,Ai,T615 Processor,50MP,5MP,1 Year,1 Year,5000.0,6.745,4,64

In [1274]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 979 entries, 0 to 983
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   price                    979 non-null    int64
 1   ratings                  979 non-null    float64
 2   pagenum                  979 non-null    int64
 3   originalprice            979 non-null    int64
 4   Discount                 979 non-null    object
 5   Brand                    979 non-null    object
 6   Processor                523 non-null    object
 7   Rear_Camera_MP           418 non-null    object
 8   Front_Camera_MP          882 non-null    object
 9   Phone_Warranty_Category  979 non-null    object
 10  Box_Warranty_Category    979 non-null    object
 11  Battery_mAh              889 non-null    float64
 12  Display_Inches           969 non-null    float64
 13  Ram                      979 non-null    object
 14  Storage                  743 non-null    object
dtypes: float64(3), int64(3), object(9)
memory usage: 122.4+ KB

In [1275]:
df.isnull().sum()

price                        0
ratings                      0
pagenum                      0
originalprice                0
Discount                     0
Brand                        0
Processor                  456
Rear_Camera_MP             561
Front_Camera_MP             97
Phone_Warranty_Category      0
Box_Warranty_Category        0
Battery_mAh                 90
Display_Inches              10
Ram                          0
Storage                    236
dtype: int64

In [1276]:
df["Processor"].fillna(df["Processor"].mode()[0],inplace = True)

In [1277]:
df["Rear_Camera_MP"].fillna(df["Rear_Camera_MP"].mode()[0],inplace = True)

In [1278]:
df["Front_Camera_MP"].fillna(df["Front_Camera_MP"].mode()[0],inplace = True)

In [1279]:
df["Battery_mAh"].fillna(df["Battery_mAh"].median(),inplace =True)

In [1280]:
df["Display_Inches"].fillna(df["Display_Inches"].median(),inplace =True)

In [1281]:
df.head()

,price,ratings,pagenum,originalprice,Discount,Brand,Processor,Rear_Camera_MP,Front_Camera_MP,Phone_Warranty_Category,Box_Warranty_Category,Battery_mAh,Display_Inches,Ram,Storage
0,25999,4.6,1,32999,21%,realme,Dimensity 7400 Ultra Processor,50MP,50MP + 8MP,1 Year,1 Year,10001.0,6.800,8,128
1,7999,4.3,1,9999,20%,MOTOROLA,Helio G81 Processor,50MP,8MP,1 Year,1 Year,7000.0,6.880,4,64
2,14998,4.4,1,17499,14%,IQOO,Dimensity 6300 Processor,50MP,50MP,1 Year,1 Year,6500.0,6.700,6,128
3,11998,4.2,1,13999,14%,IQOO,Dimensity 6300 Processor,50MP,50MP,1 Year,No Warranty,6000.0,6.740,4,128
4,6999,4.3,1,7999,12%,Ai,T615 Processor,50MP,5MP,1 Year,1 Year,5000.0,6.745,4,64

In [1282]:
df.isnull().sum()

price                        0
ratings                      0
pagenum                      0
originalprice                0
Discount                     0
Brand                        0
Processor                    0
Rear_Camera_MP               0
Front_Camera_MP              0
Phone_Warranty_Category      0
Box_Warranty_Category        0
Battery_mAh                  0
Display_Inches               0
Ram                          0
Storage                    236
dtype: int64

In [1283]:
df["Battery_mAh"] = df["Battery_mAh"].astype("int")

In [1284]:
df["Ram"] = df["Ram"].astype("int")

In [1285]:
df["Storage"] = df["Storage"].fillna(0).astype(int)

In [1286]:
df["Storage"].fillna(df["Storage"].mode(),inplace = True)

In [1287]:
df.isnull().sum()

price                      0
ratings                    0
pagenum                    0
originalprice              0
Discount                   0
Brand                      0
Processor                  0
Rear_Camera_MP             0
Front_Camera_MP            0
Phone_Warranty_Category    0
Box_Warranty_Category      0
Battery_mAh                0
Display_Inches             0
Ram                        0
Storage                    0
dtype: int64

In [1288]:
df.duplicated().sum()

np.int64(67)

In [1289]:
df = df.drop_duplicates()

In [1290]:
df.duplicated().sum()

np.int64(0)

In [1291]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 912 entries, 0 to 983
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   price                    912 non-null    int64
 1   ratings                  912 non-null    float64
 2   pagenum                  912 non-null    int64
 3   originalprice            912 non-null    int64
 4   Discount                 912 non-null    object
 5   Brand                    912 non-null    object
 6   Processor                912 non-null    object
 7   Rear_Camera_MP           912 non-null    object
 8   Front_Camera_MP          912 non-null    object
 9   Phone_Warranty_Category  912 non-null    object
 10  Box_Warranty_Category    912 non-null    object
 11  Battery_mAh              912 non-null    int64
 12  Display_Inches           912 non-null    float64
 13  Ram                      912 non-null    int64
 14  Storage                  912 non-null    int64
dtypes: float64(2), int64(6), object(7)
memory usage: 114.0+ KB

In [1292]:
def convert_to_snake_case(df):
    df.columns = (
        df.columns
        .str.strip()
        .str.replace(r'([a-z])([A-Z])', r'\1_\2', regex=True)
        .str.lower()
        .str.replace(r'[^\w\s]', '', regex=True)
        .str.replace(r'\s+', '_', regex=True)
    )
    return df

In [1293]:
df = convert_to_snake_case(df)
df

,price,ratings,pagenum,originalprice,discount,brand,processor,rear_camera_mp,front_camera_mp,phone_warranty_category,box_warranty_category,battery_m_ah,display_inches,ram,storage
0,25999,4.6,1,32999,21%,realme,Dimensity 7400 Ultra Processor,50MP,50MP + 8MP,1 Year,1 Year,10001,6.800,8,128
1,7999,4.3,1,9999,20%,MOTOROLA,Helio G81 Processor,50MP,8MP,1 Year,1 Year,7000,6.880,4,64
2,14998,4.4,1,17499,14%,IQOO,Dimensity 6300 Processor,50MP,50MP,1 Year,1 Year,6500,6.700,6,128
3,11998,4.2,1,13999,14%,IQOO,Dimensity 6300 Processor,50MP,50MP,1 Year,No Warranty,6000,6.740,4,128
4,6999,4.3,1,7999,12%,Ai,T615 Processor,50MP,5MP,1 Year,1 Year,5000,6.745,4,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,22999,4.4,41,25999,11%,vivo,Dimensity 6300 Processor,50MP,50MP + 2MP,1 Year,1 Year,6000,6.740,8,128
980,11674,4.1,41,15499,24%,Samsung,MEDIATEK Processor,50MP,50MP,1 Year,1 Year,5000,6.700,4,128
981,43599,4.6,41,45999,5%,OPPO,Dimensity 6300 Processor,50MP,50MP + 50MP + 8MP,1 Year,1 Year,6500,6.590,8,256
982,17999,4.3,41,24999,28%,POCO,Dimensity 7300 Ultra Processor,50MP,50MP + 8MP + 2MP,1 Year,1 Year,5500,6.670,8,128
983,34999,4.3,41,39999,12%,realme,Dimensity 8400-MAX Processor,50MP,50MP + 8MP,No Warranty,No Warranty,7000,6.800,8,256

In [1294]:
df.to_csv("Cleaned_Mobile_Data.csv",index = False)